<footer class="bg-black text-white py-8">
    <div class="container flex items-center justify-between">
        <nav>
            <ul class="flex gap-4 items-center text-gray-300">
                <li><a href="#" class="hover:underline">About Us</a></li>
                <li><a href="#" class="hover:underline">Contact Us</a></li>
                <li><a href="#" class="hover:underline">Support</a></li>
            </ul>
        </nav>

        <span>&copy; Copyright 2022 | All rights reserved.</span>
    </div>
</footer>