<header>
    <nav>
        <!-- Logo -->
        <a href="/">SHPS</a>

        <!-- Nav links -->
        <ul>
            <li><a href="/books">Books</a></li>
            <li><a href="/genres">Genres</a></li>
            <li><a href="/books/orders">Orders</a></li>

            <li><a href="/login">Login</a></li>
        </ul>

        <!-- Searchbar -->
        <form action="post"></form>

    </nav>
</header>