<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style.css">

    <title>Document</title>
</head>

<body>
    <%- include('../partials/header') %>

        <main class="min-h-screen pt-28">
            <div class="container">

                <h1 class="heading text-4xl">Login as a Student</h1>

                <form action="/students/login" method="post">
                    <div class="">
                        <label for="first_name">First Name</label>
                        <input type="text" name="first_name" id="first_name" required>
                    </div>
                    <br>

                    <div class="">
                        <label for="last_name">Last Name</label>
                        <input type="text" name="last_name" id="last_name" required>
                    </div>
                    <br>

                    <div class="">
                        <label for="student_id">Student ID</label>
                        <input type="number" name="student_id" id="student_id" required>
                    </div>
                    <br>

                    <button class="btn" type="submit">Login</button>
                </form>
            </div>
        </main>
        <%- include('../partials/footer') %>

</body>

</html>