<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style.css">

    <title>Stony Hill Primary School - Librarian</title>
</head>

<body class="font-body">

    <%- include('../partials/header') %>

        <main class="min-h-screen">
            <div class="container pt-28">
                <h1 class="heading text-4xl">Login as a Librarian</h1>

                <form action="/librarians/login" method="post">

                    <div class="grid gap-2 mb-6">
                        <label for="email">Email Address</label>
                        <input class="w-max" type="email" name="email" id="email" required>
                    </div>

                    <div class="grid gap-2 mb-6">
                        <label for="password">Password</label>
                        <input class="w-max" type="password" name="password" id="password" required>
                    </div>

                    <p class="mb-4">Don't have an account? <a href="/librarians/signup"
                            class="text-blue-600 hover:underline">Sign up
                            here</a>.</p>

                    <button class="btn" type="submit">Login</button>
                </form>
            </div>
        </main>

        <%- include('../partials/footer') %>

</body>

</html>