<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Login as a Librarian</h1>

    <form action="/librarians/login" method="post">
        <div class="">
            <label for="email">Email Address</label>
            <input type="email" name="email" id="email" required>
        </div>
        <br>

        <div class="">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
        </div>
        <br>

        <p>Don't have an account? <a href="/librarians/signup">Sign up here</a>.</p>

        <button type="submit">Login</button>
    </form>
</body>

</html>