<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style.css">

    <title>Document</title>
</head>

<body>
    <%- include('../partials/header') %>

        <main class="min-h-screen">
            <div class="container pt-28">

                <h1 class="heading text-4xl">Sign Up as a Librarian</h1>

                <form action="/librarians/signup" method="post">
                    <div class="grid gap-2 mb-6">
                        <label for="first_name">First Name</label>
                        <input class="w-max" type="text" name="first_name" id="first_name" required>
                    </div>


                    <div class="grid gap-2 mb-6">
                        <label for="last_name">Last Name</label>
                        <input class="w-max" type="text" name="last_name" id="last_name" required>
                    </div>


                    <div class="grid gap-2 mb-6">
                        <label for="email">Email Address</label>
                        <input class="w-max" type="email" name="email" id="email" required>
                    </div>
                    <br>

                    <div class="grid gap-2 mb-6">
                        <label for="password">Password</label>
                        <input class="w-max" type="password" name="password" id="password" required>
                    </div>
                    <br>

                    <button class="btn" type="submit">Create Account</button>
                </form>
            </div>
        </main>

        <%- include('../partials/footer') %>

</body>

</html>